<template>
    <transition name="fade">
        <div v-if="message && isVisible" class="relative">
            <div class="fixed right-0 top-0 mt-10 mr-10 w-full max-w-md">
                <component
                        :is="`app-notification-${type}`"
                        :message="message"
                        @close="this.hideNotification"
                />
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            type: {
                required: false,
                default: 'info',
                type: String,
            },
            message: {
                required: true,
                type: String,
            },
            duration: {
                required: false,
                default: 20,
                type: Number,
            },
        },

        data() {
            return {
                isVisible: true,
            }
        },

        methods: {
            showNotification() {
                this.isVisible = true;
            },

            hideNotification() {
                this.isVisible = false;
            }
        },

        mounted() {
            this.showNotification();

            console.log('Type: ' + this.type, this.duration);

            setTimeout(() => {
                this.hideNotification();
            }, this.duration * 1000);
        }
    }
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>