.btn {
    @apply block font-medium text-base px-6 py-2 bg-blue-500 text-white border-2 border-blue-500 rounded-md shadow;

    &:hover {
        @apply bg-blue-600 border-blue-600;
    }

    &:focus {
        @apply outline-none shadow-outline;
    }

    &.destroy {
        @apply bg-red-400 border-red-400;

        &:hover {
            @apply bg-red-500 border-red-500;
        }
    }
}

.btn-secondary {
    @apply block font-medium text-base px-6 py-2 bg-transparent text-blue-500 border-2 border-blue-500 rounded-md;

    &:hover {
        @apply bg-blue-500 text-white;
    }

    &:focus {
        @apply outline-none shadow-outline;
    }

    &.destroy {
        @apply text-red-400 border-red-400;

        &:hover {
            @apply bg-red-400 text-white;
        }
    }
}

.btn-tertiary {
    @apply block font-medium text-base bg-transparent text-blue-500 border-0 rounded-md;

    &:hover {
        @apply underline;
    }

    &:focus {
        @apply outline-none shadow-outline;
    }

    &.destroy {
        @apply text-red-400;
    }
}
