.input {
    @apply block text-base text-gray-800 bg-white px-4 py-2 border border-gray-300 rounded-md shadow-sm appearance-none;

    &:focus {
        @apply outline-none shadow-outline;
    }

    &:disabled {
        @apply opacity-50;
    }

    &.error {
        @apply text-red-400 border-red-400;
    }
}
