.nav-link {
    @apply flex items-center text-gray-500 font-medium -ml-4 -mr-4 px-4 py-2 rounded-md;

    &:hover {
        @apply text-blue-700 bg-blue-100;
    }

    &.active {
        @apply font-bold text-blue-700 bg-blue-100;
    }
}


.tabs li {

    a {
        @apply bg-white inline-block py-2 px-4 text-gray-500 font-semibold;
    }

    a:hover {
        @apply text-gray-700;
    }

    &.active {
        @apply -mb-px;

        a {
            @apply bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-gray-700 font-semibold;
        }
    }
}
