
div.second-aside {

    @apply hidden w-64 max-w-full min-h-full pl-6 py-4 bg-gray-100 border-r border-gray-300 -ml-8;

    @screen lg {
        @apply block;
    }

    p {
        @apply text-gray-600 uppercase font-bold text-xs mb-2 pl-1;
    }

    ul {
        @apply list-none;

        li {
            @apply m-0 p-0;

            a {

                @apply text-blue-700 block text-sm p-1 pl-2;

                &:hover {
                    @apply bg-gray-200;
                }

                &.active {
                    @apply font-bold bg-gray-200 text-blue-900;
                }
                &.red {
                    @apply text-red-700;
                }

            }

        }

    }

}
