<template>
    <div>
        <div class="relative z-20">
            <button @click.prevent="isOpen = !isOpen"
                    class="rounded-full focus:outline-none focus:shadow-outline overflow-hidden z-20">
                <img
                        :src="avatarUrl"
                        alt="My profile picture"
                        class="h-10 w-10"
                >
            </button>

            <div v-show="isOpen"
                 class="absolute w-64 bg-white border shadow-lg origin-top-right right-0 rounded-md overflow-hidden z-20">
                <slot></slot>
            </div>
        </div>

        <button v-show="isOpen" @click.prevent="isOpen = false"
                class="fixed h-screen w-screen inset-0 bg-black opacity-0 z-10"></button>
    </div>
</template>

<script>
    export default {
        props: {
            username: {
                required: true,
                type: String,
            },
            avatarUrl: {
                required: true,
                type: String,
            },
        },

        data() {
            return {
                isOpen: false,
            }
        },
    }
</script>