<template>
    <div class="flex flex-col">
        <div class="top-bar">
            <h1 v-if="partner==null">Conversations</h1>
            <h1 v-else>Conversation with <strong>{{ partner.username }}</strong></h1>
        </div>
        <div class="conversation-window">
            <conversation-list :baseRoute="baseRoute" :selected_partner="this.partner" v-on:select="selectPartner" ></conversation-list>
            <conversation-holder :userId="userId" :baseRoute="baseRoute" :partner="partner"></conversation-holder>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'baseRoute',
        'userId'
    ],
    data() {
        return {
            partner: null,
        }
    },
    methods: {
        selectPartner(partner) {
            this.partner = partner;
        }
    },
    creating() {
        this.$userId = this.userId;
    }
}
</script>

<style lang="scss">

.top-bar {
    @apply bg-white mx-auto h-12 rounded-t-md p-1 pl-4 border border-gray-400;
    width: 58rem;

    h1 {
        @apply text-2xl font-medium text-gray-900 mb-4;
    }
}

.conversation-window {
    @apply flex mx-auto border-gray-400 border-l border-b border-r;
    width: 58rem;
    height: 42rem;

    .conversation-list {
        @apply bg-white h-full border-r border-gray-400;
        width: 18rem;
    }

    .conversation-holder {
        @apply bg-white h-full flex flex-col;
        width: 40rem;
    }
}

</style>
