<template>
    <div class="conversation-message flex" :id="'message-' + message.id">
        <!-- <a href="http://127.0.0.1:8000/conversations/uconroy" class="flex-none rounded-full h-full mt-1 w-10 focus:outline-none focus:shadow-outline overflow-hidden">
            <img :src="message.source_user.avatar" alt="Profile Picture">
        </a> -->
        <div class="ml-4 flex-initial w-full">
            <div class="flex">
                <p class="font-medium text-sm text-gray-600 w-1/2">{{ message.source_user.username }}</p>
                <p class="italic text-gray-500 w-1/2 text-sm text-right">{{ message.created_at }}</p>
            </div>
            <p class="w-full">{{ message.content }}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: ['message','partner']
}
</script>

<style lang="scss">
.conversation-message {

    @apply pb-1 pt-2 px-5 w-full border-t border-gray-300;

    @apply mt-1 mr-6 mb-3 ml-4 pl-1 w-2/3 bg-gray-300 float-left border-gray-400 border;
    border-radius: 8px;

    p {
        @apply mb-2;
    }

    &.is_sent {
        @apply bg-gray-200 border-gray-400 ;
        @apply float-right border-gray-400 border;
        background-color: #EBECEB;
    }
}
</style>
