<template>
    <div class="conversation-list">

        <div class="mt-2 ml-2 mr-2 mb-0">
            <input type="text" class="bg-gray-200 p-2 w-full" id="new_partner_username" placeholder="Username" />
            <p class="p-1 italic text-xs text-red-400 w-full" v-if="new_partner_error != null">{{ new_partner_error }}</p>
        </div>
        <div
            class="m-2 bg-blue-300 hover:bg-blue-200 hover:border-blue-300 border-blue-400 border-b-4 py-2 px-4 flex cursor-pointer"
            @click="startNewChat()">
            <p class="text-md font-bold text-center w-full">Start a chat</p>
        </div>

        <div class="bg-gray-100 hover:bg-gray-200 border-b border-gray-300 py-2 px-4 flex cursor-pointer" :class="{ is_selected: (selected_partner !== null && selected_partner.username == conversation.partner.username) }"
            v-for="conversation in conversations"
            @click="$emit('select', conversation.partner)">
            <div class="flex-none rounded-full h-full mt-1 ml-1 w-10 focus:outline-none focus:shadow-outline overflow-hidden">
                <img :src="conversation.partner.avatar" alt="Profile Picture">
            </div>
            <div class="ml-4 flex-initial overflow-auto w-full h-12">
                <div class="flex">
                    <div class="text-md font-medium w-2/3">{{ conversation.partner.username }}</div>
                    <div class="text-sm font-light w-1/3 text-gray-600 text-right" v-if="conversation.message != null">{{ conversation.message.created_ago }}</div>
                </div>
                <p class="text-sm   text-gray-600 truncate" v-if="conversation.message != null">{{ conversation.message.content }}</p>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    props: [
        'baseRoute',
        'selected_partner'
    ],
    data() {
        return {
            conversations: [],
            new_partner_error: null
        }
    },
    methods: {
        startNewChat() {
            this.new_partner_error = null;

            let username = document.getElementById('new_partner_username').value;

            let found = false;

            for (var i in this.conversations) {
                if (this.conversations[i].partner.username == username)
                {
                    found = true;
                    this.$emit('select', this.conversations[i].partner)
                }
            };

            if (!found)
            {
                axios.get(this.baseRoute + '/new?username=' + username).then(resp => {
                    if (resp.data.status == false)
                    {
                        this.new_partner_error = resp.data.message;
                    }
                    else if (resp.data.partner)
                    {
                        this.$emit('select', resp.data.partner)
                    }
                    else
                    {
                        this.new_partner_error = "An unknown error occured";
                    }
                });
            }

            // is_searching_partner = !is_searching_partner;
        }
    },
    created() {

        axios.get(this.baseRoute + '/list').then(resp => {
            this.conversations = resp.data;
        });

    }
}
</script>

<style>
.conversation-list div.is_selected {
    @apply bg-gray-300;
}
</style>
