<template>
    <div class="conversation-holder">

        <template v-if="partner != null">
            <div class="messages-holder" v-if="messages.length > 0">
                <conversation-message v-for="message in messages" v-bind:class="{ is_sent: (message.is_sent) }" v-bind:key="message.id" :message="message"></conversation-message>
            </div>
            <div v-else class="messages-holder h-full">
                <p class="mt-32 text-lg text-gray-700 text-center ">
                    Start typing a message below to start a conversation with<br /> <strong>{{ partner.username }}</strong>
                </p>
            </div>
            <div class="conversation-composer border-t border-gray-400">
                <input type="text" placeholder="Start typing your message..." v-model="newMessageContent" @keyup.enter="sendMessage()">
                <button class="btn btn-blue" @click="sendMessage()">Send</button>
            </div>
        </template>
        <div class="p-10 text-center" v-else>
            Click on a conversation on left to start a conversation with someone
        </div>

    </div>
</template>

<script>
export default {
    props: [
        'partner',
        'baseRoute',
        'userId'
    ],
    data() {
        return {
            messages: [],
            newMessageContent: "",
            conversationRoute: null
        };
    },
    methods: {
        sendMessage() {

            if (this.newMessageContent.trim() == "")
            {
                return;
            }

            axios.post(this.conversationRoute + '/send', { content: this.newMessageContent }).then(resp => {
                if (resp.data.status == "OK")
                {
                    this.messages.push(resp.data.message);
                    this.newMessageContent = '';
                    this.scrollToBottom();
                }
                else
                {
                    alert('ooops, got ' + resp.data.status);
                }
            });
        },
        loadMessages () {

            this.loadingMessages = true;
            this.messages = [];
            axios.get(this.conversationRoute + '/messages').then((resp) => {
                this.messages = resp.data;
                this.loadingMessages = false;
            });

        },
        scrollToBottom() {

            // https://stackoverflow.com/a/44607920
            this.$nextTick(() => {
                let element = document.querySelector(".messages-holder");
                element.scrollTop = element.scrollHeight;
            });

        },

        initConversation()
        {
            this.conversationRoute = this.baseRoute + '/' + this.partner.username;

            axios.get(this.conversationRoute + '/messages').then(resp => {
                if (resp.data.messages) {
                    this.messages = resp.data.messages;
                    this.scrollToBottom()
                }
            });
        }

    },
    watch: {
        partner: function(partner, old_partner)
        {
            this.initConversation()
        }
    }
}
</script>

<style lang="scss">

.conversation-holder {

    .messages-holder
    {
        @apply overflow-auto pt-3 h-full;

    }

    .conversation-composer {
        @apply flex;

        input {
            @apply p-2 w-full;
        }

        button {
            border-radius: 0;
        }
    }
}



</style>
