<template>
    <div class="flex justify-between items-start px-4 py-4 rounded-md font-medium shadow-2xl z-50
            text-red-400 bg-red-100"
    >
        <div class="flex">
            <div>
                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                    <path d="M10 14L12 12M12 12L14 10M12 12L10 10M12 12L14 14M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"
                    />
                </svg>
            </div>
            <p class="ml-2">
                {{ message }}
            </p>
        </div>

        <button @click="$emit('close')" type="button" class="focus:outline-none focus:shadow-outline">
            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </div>
</template>

<script>
    export default {
        props: {
            message: String,
        },
    }
</script>